# -----------------------------------------------------------------------------
# Environment Configuration - TEST
# -----------------------------------------------------------------------------
ENV_NAME=test
APP_VERSION=1.0.0-SNAPSHOT

# SonarQube Configurations (caso precise injetar no container)
SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN=